<div class="form-wrapper">
  <h1>formulaire de dépôt de questions:</h1>
  <form class="form" ng-controller="QuestionFormController">
    <div class="question-container">
      <label>
        entrez l'intitulé de la question:
        <textarea name="prompt" rows="8" cols="40"
          ng-model="question.prompt">
        </textarea>
      </label>
    </div>

    <div class="type-list-container">
      <label>
        type de question:
        <select class="type-list" name="type-list" ng-model="question.type">
            <option value="mcq-one">question à choix multiple et à réponse unique</option>
            <option value="mcq-multiple">question à choix et réponse multiples</option>
            <option value="typed-response" selected>réponse écrite</option>
            <option value="tf">vrai ou faux</option>
        </select>
      </label>
    </div>

    <div class="timeout-container">
      <label>
        temps attribué (en secondes):
        <input type="number" name="timeout" value="10" min="10"
          ng-model="question.timeout">
      </label>
    </div>

    <div class="mcq-response-container"
      ng-if="['mcq-one', 'mcq-multiple', 'tf'].indexOf(question.type) !== -1">
      <div class="add-response-container" ng-if="question.type !== 'tf'">
        <label>
          possibilité de réponse
          <input type="text" name="response" ng-model="response.name">
          <button type="button" name="add-response"
            ng-click="addResponse(response); response={}">
            ajouter
          </button>
        </label>
      </div>

      <div class="responses-container">
        <div class="response-container"
          ng-repeat="response in question.responses">
          <label>
            {{response.name}}
            <input type="radio" name="response"
              ng-if="question.type === 'mcq-one' || question.type === 'tf'"
              ng-click="setValidResponse(response)">
            <input type="checkbox" name="response"
              ng-if="question.type === 'mcq-multiple'"
              ng-model="response.valid">
          </label>
        </div>
      </div>
    </div>

    <div class="typed-response-container" ng-if="question.type === 'typed-response'">
      <label>
        réponse:
        <input type="text" name="typed-response"
          ng-model="question.responses[0].name">
      </label>
    </div>

    <input type="submit" value="Envoyer" ng-click="save(question)"/>

  </form>
</div>
