<div class="admin-rooms-wrapper">
  <div class="admin-rooms" id="admin-rooms">
    <div ng-include="'client/modules/rooms/views/list.html'"></div>
    <div ng-include="'client/modules/rooms/views/form.html'"></div>
  </div>
</div>
