<div class="form-wrapper">
  <form class="form" ng-controller="RoomFormController">
    <label>
      Nom du salon
      <input type="text" name="name" ng-model="room.name">
    </label>
    <input type="submit" name="submit-room" value="ajouter" ng-click="save(room);reset()">
  </form>
</div>
