<div class="rooms-list-wrapper">
  <ul class="rooms-list" id="rooms-list" ng-controller="RoomsController">
    <li class="room" ng-repeat="room in rooms">
      {{room.name}}
      <button type="button" name="delete" ng-click="remove(room)">supprimer</button>
      <button type="button" name="modify">modifier</button>
      <button type="button" name="admin-setting-button">administrer</button>
    </li>
  </ul>
</div>
